
/* TODO: merge identical rulesets. DRY */

/* Set some variables so colors can easily be changed globally. */
:root {
    --bordercolor: violet;
    --bgcolor: rgb(39, 110, 87);
    --fontcolor: black;
    --boxcolor: pink;
    --interactive: lime;
    --noninteractive: blue;
}

body {
    background-color: var(--bgcolor);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%
}

/* Add custom list item marker, from Unicode (easily pasted as the HTML is in UTF-8). */
ul li:before {
    content: "▷";
}

/* Highlight moused over list elements with a pink background. */
ul li:hover {
    background-color: var(--interactive);
}

/* Set up the header bar, including a big heading and nav links, to scroll with the user for ease of navigation. */
header {
    z-index: 1;
    display: flex;
    align-items: center;
    width: 90%;
    position: fixed;
    top: 20px;
    left: 20px;
    justify-content: space-around;
    background-color: var(--boxcolor);
    border-color: var(--bordercolor);
    border-style: dotted;
    border-width: 3px;
}

header ul {
    display: flex;
    justify-content: center;
}

header ul li {
    display: inline-block;
    margin: 0px 40px 0px 40px;
}

/* Set up the about me section. */
#aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    width: 75%;
    height: 200px;
    border-style: groove;
    border-color: var(--bordercolor);
    border-width: 5px;
    background-color: var(--boxcolor);
    margin: 75px 0 0 20px;
}

#aboutMe p {
    position: relative;
    top: 30px;
    width: 65%;
    text-align: left;
}

/* Place a label to the left of the about me section. */
#aboutMe::before {
    content: "about me";
    position: absolute;
    right: 90%;
    font-size: 150%;
    font-style: oblique;
}

/* Recolor the border to highlight the box when moused over. */
#aboutMe:hover {
    border-color: var(--noninteractive);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 10%;
    width: 100%;
}

/* Set up the projects section. */
#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    clear: both;
    width: 100%;
    margin: 20px 0 0 0;
}

/* Style the articles. */
article div {
    position: absolute;
    left: 15px;
    bottom: 15px;
    background-color: var(--boxcolor);
    border-color:var(--bordercolor);
    border: 3px;
    border-style: dotted;
}

/* Highlight the articles with a different border color than the non-clickable sections. */
#projects article:hover {
    border-color: var(--interactive);
}

/* Make articles clickable by stretching an <a> tag over them. */
article a::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Set up the images to hide overflow. */
figure {
    display: flex;
    justify-content: center;
    height: inherit;
    overflow: hidden;
}

#aboutMe figure {
    width: 30%;
    float: left;
    justify-content: left;
}

article figure {
    width: 100%;
}

article figure img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    
}

/* Set up the articles. */
#projects article {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 23%;
    height: 150px;
    border-color: var(--bordercolor);
    border-style: groove;
    border-width: 5px;
    margin: 10px 10px 10px 20px;
    background-color: var(--boxcolor);
    overflow: hidden;
}

/* Place a label to the left of the projects section. */
#projects::before {
    content: "projects";
    position: absolute;
    right: 90%;
    font-size: 150%;
    font-style: oblique;
}

/* Make the first article/project larger. */
#projects article:first-of-type {
    width: 75%;
    height: 300px;
}

/* Set up the contact info section. */
#contact {   
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 75%;
    height: 100px;
    border-style: groove;
    border-color: var(--bordercolor);
    border-width: 5px;
    background-color: var(--boxcolor);
    margin: 20px 20px 20px 20px; 
    clear: both;
}

/* Place a label to the left of the contact info section. */
#contact::before {
    content: "contact info";
    position: absolute;
    right: 89%;
    font-size: 150%;
    font-style: oblique;
}

/* Highlight moused over section with the "non-interactive" border color. */
#contact:hover {
    border-color: var(--noninteractive);
}

footer {
    text-align: center;
}

/* Media queries to adjust layout to fit smaller screens. */
@media screen and (max-width: 768px) {
    #projects article {
        width: 35%;
    }
    #contact {
        width: 35%;
    }
}

@media screen and (max-width: 555px) {
    #projects article {
        width: 75%;
    }

    #contact {
        width: 75%;
    }

    #aboutMe::before, #projects::before, #contact::before, #resume::before {
        visibility: hidden;
    }
}